.yellow { color:yellow; }
.orange { color:orange; }
.green { color:green; }
.blue { color:blue; }
.brown { color:brown; }
.black { color:black; }

.border-yellow {
    border-left: 15px solid #FFEB3B;
}

.border-orange {
    border-left: 15px solid rgb(255, 177, 59);
}

ion-title {
    text-align: center;
}

ion-buttons > button {
    min-width: 44px;
    text-align: center;
}

.toolbar-background-md {
    background: none;
}

.searchbar-md {
    background: transparent;
    padding: 3% 10%;
}

.searchbar-md .searchbar-input {
    box-shadow: none;
    background-color: transparent;
    border-bottom: 2px solid #958987;
}

.bar-button-default-md, .toolbar-title-md {
    color: #2a2a2a;
}

.base .list-md .item-block .item-inner {
    border-bottom: none;
}

.base .list-md {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    // justify-content: space-between;
    padding: 0 5%;
    height: 100%;
    // min-height: 900px;
    padding-top: 3%;
    align-items: center;
}

.base .list-md > div {
    padding: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base .item-md {
    // width: 90%;
    // border: 1px solid #dedede;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.base .label-md {
    margin: 12px 8px 12px 0px;
}

.base .item-note {
    font-size: 0.8em;
    color: #9E9E9E;
}
