.yellow { color:yellow; }
.orange { color:orange; }
.green { color:green; }
.blue { color:blue; }
.brown { color:brown; }
.black { color:black; }

.bg-yellow { background-color:yellow; }
.bg-orange { background-color:orange; }
.bg-green { background-color:green; }
.bg-blue { background-color:blue; }
.bg-brown { background-color:brown; }
.bg-black { background-color:black; }

.border-color-yellow { border-color:yellow; }
.border-color-orange { border-color:orange; }
.border-color-green  { border-color:green; }
.border-color-blue   { border-color:blue; }
.border-color-brown  { border-color:brown; }
.border-color-black  { border-color:black; }

.border-yellow {
    border-left: 15px solid #FFEB3B;
}

.border-orange {
    border-left: 15px solid rgb(255, 177, 59);
}

ion-title {
    text-align: center;
}

ion-buttons > button {
    min-width: 44px;
    text-align: center;
}

.toolbar-background-md {
    background: none;
}

.searchbar-md {
    // background: transparent;
    padding: 3% 10%;
        position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 99999;
    background-color: white;
}

.searchbar-md .searchbar-input {
    box-shadow: none;
    background-color: transparent;
    border-bottom: 2px solid #958987;
}

.single-bar {
    width: 10%;
    border: 5px solid #2a2a2a;
    margin: 0 auto;
    margin-top: 40%;
    margin-bottom: 30%;
}

.bar-button-default-md, .toolbar-title-md {
    color: #2a2a2a;
}

.item-box {
    width: 50%;
    padding-left: 5%;
}

.item-key {
    color: #958987;
    font-weight: bold;
    font-size: 1.3em;
}

.item-note {
    color: #5a5a5a;
}

.item-arrow {
    color: #958987;
}

// .base .list-md .item-block .item-inner {
//     border-bottom: none;
// }

// .base .list-md {
//     display: flex;
//     flex-direction: column;
//     // align-items: flex-end;
//     // justify-content: space-between;
//     padding: 0 5%;
//     height: 100%;
//     // min-height: 900px;
//     padding-top: 3%;
//     align-items: center;
// }

// .base .list-md > div {
//     padding: 2%;
//     width: 90%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.base .item-md {
    padding-left: 0;
}

.item-md.item-block .item-inner {
    padding-right: 0;
}

.base .label-md {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 13px 0px;
    justify-content: space-around;
}

// .base .item-note {
//     font-size: 0.8em;
//     color: #9E9E9E;
// }
