<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="myInput"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only  (click)="openModal()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="base">
  <div class="budo-top">
    <div class="header__bg"></div>
    <img class="budo-logo" src="assets/imgs/budo.png">
  </div>
  <ion-list>
    <div *ngFor="let item of techniques | async | search: myInput| belt: belt | sort: {property: column, order: order} | reverse: reverse">
      <button ion-item (click)="itemTapped($event, item)">
        <ion-icon [ngClass]="item.belt" name="{{item.icon}}" item-start></ion-icon>
        {{item.key}}
        <div class="item-note">
          {{item.waza}}
        </div>
      </button>
    </div>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.name}}</b>
  </div>
</ion-content>
