<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Budo App</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput">
  </ion-searchbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of techniques | search : myInput | sort: {property: column, order: order}" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-start></ion-icon>
      {{item.name}}
      <div class="item-note" item-end>
        {{item.kanji}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.name}}</b>
  </div>
</ion-content>
