// Relacionado con el movimiento del div usando el giroscopio.
.container {
  position: relative;
  width : 200px;
  height: 200px;
  border: 5px solid #CCC;
  border-radius: 10px;
  perspective: 800px;
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  top   : 50px;
  left  : 50px;
  width : 100px;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255,53,22,1) 0%,rgba(244,132,192,1) 100%);
}
// Fin del giroscopio.

.budo-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.budo-logo > img {
  width: 35%;
}

.budo-welcome {
  width: 100%;
  margin-top: 15%;
}

.budo-welcome > p {
  text-align: center;
}