page-technique {

}

page-technique > ion-header {
    width: 100%;
    height:255px;
    overflow: hidden;
    text-align: right;
    background-image: url("../assets/imgs/header-40.jpg");    
}

page-technique > ion-header > ion-title {
    padding-top: 10%;
}

page-technique > ion-header::before {
    border-radius: 100%;
    position: absolute;
    background: white;
    right: -13%;
    left: -13%;
    top: 85%;
    content: '';
    bottom: -50%;
}

page-technique > ion-header > ion-title > div.toolbar-title-md {
    color: white;
    text-align: right;
    padding: 0% 5%;
}

page-technique > ion-header > ion-title > div.toolbar-title-md > p:first-child {
    font-size: 2.2em;
    margin: 0;
}

page-technique > ion-header > ion-title > div.toolbar-title-md > p:last-child {
    margin: 0;
    font-size: 1.2em;
    font-weight: 100;
}

ion-app.md [padding] .scroll-content {
    padding: 0;
}

.technique-title, .technique-description, .technique-videos {
    padding: 5% 10% 0% 10%;
}

.technique-title, .technique-description, .technique-videos {
    padding: 5% 10%;

    h1 {
        font-size: 2em;
        color: rgba(100,100,100,80);
        margin-bottom: 0.8em;
    }
}

.technique-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.technique-title > p {
    width: 75%;
    text-align: center;
    margin: 0;
}

.translated-band {
    background-color: #EEEEEE;
    padding: 2%;
}

.info-box {
    background-color: #E3F2FD;
    height: 200px;
    padding: 10%;
}

.technique-videos > iframe {
    margin-bottom: 10%;
}