<ion-header>
  <ion-navbar>
    <ion-title>
      Memorize
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="super-container">
    <div class="card-container" *ngIf="ready">
      <sc-card class="scene scene--card" padding *ngFor="let card of cards" [orientation]="cardDirection" [tinder-card]="cardOverlay" [callDestroy]="card.destroyEvent"
        [callLike]="card.likeEvent" (onLike)="onCardInteract($event, card)" (click)="flip()">
        <!-- <div class="user_img" [style.background-image]="card.asBg"></div> -->
        <div class="card">
          <div class="card__face card__face--front" [style.background-color]="card.bgColor">
            <div *ngIf="imgFront" class="user_img" [style.background-image]="card.img"></div>
            <h1 *ngIf="hFront">{{card.title}}</h1>         
          </div>
          <div class="card__face card__face--back" [style.background-color]="card.bgColor">
            <div *ngIf="!imgFront" class="user_img" [style.background-image]="card.img"></div>
            <h1 *ngIf="!hFront">{{card.title}}</h1>
          </div>
        </div>
      </sc-card>
    </div>


  </div>
</ion-content>